/* src/components/About/About.css */
.about {
    padding: 4rem 2rem;
    background-color: #5f5e5e;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color:#000000;
  }
  
  .about p {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
  }
  