/* src/components/Footer/Footer.css */
.footer {
    background-color: #000000; /* Matching the navbar background color */
    color: #ffffff; /* White text color */
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  